<footer class="text-center bg-gray-900 text-white" style="position: fixed; bottom: 0;">
  <div class="container px-6 pt-6">
    <div class="flex justify-center mb-6">
      

    <div class="mb-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum ha
      </p>
    </div>
  </div>

  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">Loan Database</a>
  </div>
</footer>