<%= render "devise/shared/navbar" %>
<%= render "devise/shared/notice" %>
<section class="container px-4 mx-auto" style="height:auto; margin-bottom:8%;margin-top:5%">
  <div class="dashboard">
    <%= render "dashboard_menu" %>
    <%= render "pending_status" %>
  </div>
</section>
